
/*search box */

body {
  background-color: white;
  margin-right: .5em;
  margin-left: .5em;
}

form {
  background-color: green;
  display: flex;
  flex-direction: row;
}



.filter {
  height: auto;
  
  background-color: white;
 border-color: purple;
  background-color: white;
  font-size: 1.3em;

  background-image: url('/images/down_arrow.png');
  background-size: 2.3em;
  background-position: 20px 6px;
  background-repeat: no-repeat;

}


button {
  flex: 1;
}


input {
  flex: 4;
  border-color: purple;
  background-color: white;
  height: 4em;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
  background-size: 4em;
  background-position: left;
  background-repeat: no-repeat;
  text-indent: 4em;
  font-size: 1em;
}

input#search {
    text-indent: 20px;
}

/*end search box*/


.query {
  height: 100%;
  
  display: flex;
  flex-direction: row;

}

.results_list {
  
  height: 100%;
  order: 1;
  flex: 2;
  background-color: white;
  border: 1px solid;
}

#map {
  
  height: 100%;
  flex: 0;
  order: 2;
  
  z-index: 20;
  border: 1px solid;
  float: right;
}

/*#map img {
  height: 0%;
  width: 0%;
}*/

@media (min-width: 760px) {
  #map {
    padding: 1em;
    flex: 1;
  }
  #map  {
    height: 100%;
    width: 100%;
  }

  .query {
    width: 100%;
  }
}

table,
th,
td {
  border: 1px solid black;
  width: 100%;
}

td {
  padding: 1em;
}

td img {
  height: 90px;
  width: 85px;
}

td p {
  font-size: 20px;
}

td img,
h1,
p {
  float: left;
  margin-left: 1em;
  margin-top: 0em;
  background-color: ;
}